{% extends 'base.html' %}

{% block title %}Capital - Agendamento{% endblock %}

{% block content %}

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .body {
        background-color: beige;
    }
    .card-img-top {
        border-radius: 50px;
        padding: 20px;
        width: 362px;
        height: 273px;
        object-fit: cover;
    }
    .card {
        border-radius: 35px;
        border: 10px solid #12733e; 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 
                    0 4px 8px rgba(0, 0, 0, 0.2);
        justify-content: space-between;
        color: #12733e;
        background-color: #f9f9f9;
        transition: transform 0.3s ease, border-color 0.3s ease;
        align-items: center;
    }
    .card:hover {
        transform: scale(1.05); 
        border-color: #0A502A;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4), 
                    0 6px 12px rgba(0, 0, 0, 0.3);  
    }
    .card-body {
        padding: 25px;
        margin-top: -15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .card-sem-imagem {
        background-color: #f9f9f9;
        border: 10px solid #12733e; 
    }
    .card-title {
        margin-bottom: 10px;
    }
    .breadcrumbs {
        margin-bottom: 30px;
    }
    .titulo {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
    }
    .titulo h2 {
        font-size: 35px;
        color: #036635;
    }
    .titulo p {
        font-size: 18px;
        color: #036635;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
    }
    ul {
        list-style-type: none;
        padding: auto;
        margin: auto;
        text-align: left;
    }
    
    .agendamento-presencial-hr {
        border: 0;
        height: 2px;
        background: #E59F3A;
        margin-bottom: 20px;
    }
</style>

<div class="inf">
    <div class="breadcrumbs">
        <span>
            <a href="https://www.defensoria.pe.def.br/" id="link" class="text-decoration-none">Início</a>
        </span> 
        <span>»</span> 
        <a href="{% url 'Home' %}" id="link" class="text-decoration-none">Atendimento</a>
        <span>»</span> 
        <a href="{% url 'capital' %}" id="link" class="text-decoration-none">Capital</a>
        <span>»</span> 
        <span style="color: #96CE00;">Locais De Atendimento</span>
    </div>
    <h1 class="text-center">Locais De Atendimento</h1>
</div>

{% for predio, nucleos in predios.items %}
    <div class="container py-5">
        <div class="titulo">                
            <h2>{{ predio }}</h2>
            <P>{{ nucleos.0.endereco }}</P>
        </div>
        <hr class="agendamento-presencial-hr">
        <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
            {% for nucleo in nucleos %}
            <div class="col my-2">
                <div class="card p-1 {% if not nucleo.imagem %}card-sem-imagem{% endif %}" style="min-height: 480px !important;">
                    {% if nucleo.imagem %}
                        <img src="{{ nucleo.imagem.url }}" class="card-img-top" alt="">
                    {% else %}
                        <div class="card-img-top" style="height: 200px;"></div> 
                    {% endif %}
                    <div class="card-body row d-flex align-items-center">
                        <h5 class="card-title">{{ nucleo.nome }}</h5>
                        
                        <ul>
                            {% if nucleo.email %}
                            <li>
                                <i class="fa-solid fa-envelope"></i> <span>{{ nucleo.email }}</span>
                            </li>
                            {% endif %}
                            
                            {% if nucleo.telefone %}
                            <li>
                                <i class="fa-solid fa-phone"></i> <span>{{ nucleo.telefone }}</span>
                            </li>
                            {% endif %}
                            
                            {% if nucleo.horario %}
                            <li>
                                <i class="fa-solid fa-clock"></i> <span>{{ nucleo.horario }}</span>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}

{% endblock %}
