{% extends 'base.html' %}

{% block title %}Região Metropolitana{% endblock %}

{% block content %}
<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .body{
        background-color: beige;    
    }
    .card-img-top {
        border-radius: 50px;
        padding: 20px;
        width: 362px;
        height: 273px;
        object-fit: cover;
    }
    .card {
        border-radius: 35px;
        border: 10px solid #12733e; 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 
                    0 4px 8px rgba(0, 0, 0, 0.2);
        justify-content: space-between;
        color: #12733e;
        background-color: #f9f9f9;
        transition: transform 0.3s ease, border-color 0.3s ease;
        align-items: center;
    }
    .card:hover {
        transform: scale(1.05); 
        border-color: #0A502A;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4), 
                    0 6px 12px rgba(0, 0, 0, 0.3);  
    }
    .card-body {
        padding: 25px;
        margin-top: -15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .card-sem-imagem {
        background-color: #f9f9f9;
        border: 10px solid #12733e; 
    }

    .breadcrumbs {
        margin-bottom: 30px; 
    }
    form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        margin: 0 auto;
    }
    
    label {
        color: #033a23;
        margin-right: 10px;
        white-space: nowrap;
        text-shadow: none;
    }
    
    select {
        flex: 1;
        padding: 10px;
        margin-right: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    
    button {
        background-color: #28a745;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }
    
    button:hover {
        background-color: #218838;
    }
    ul {
        list-style-type: none; 
        padding: 0; 
        margin: 0;  
    }
</style>
<div class="inf">
    <div class="breadcrumbs">     
        <span>
            <a href="https://www.defensoria.pe.def.br/" id="link" class="text-decoration-none">Início</a>
        </span> 
        <span style="color: #96CE00;">»</span> 
        <a href="{% url 'Home' %}" id="link" class="text-decoration-none">Atendimento</a>
        <span style="color: #96CE00;">»</span> 
        <span class="" aria-current="page" style="color: #96CE00;">Região Metropolitana</span>
    </div>
    <h1 class="text-center">Locais De Atendimento</h1>
</div>
<div class="container py-5">
    <form method="get" action="">
        <label for="comarca">Filtrar por Cidade:</label>
        <select id="comarca" name="comarca">
            <option value="">Todas as Cidades</option>
            {% for comarca in comarcas %}
                <option value="{{ comarca.id }}" {% if comarca.id == request.GET.comarca %}selected{% endif %}>
                    {{ comarca.nome }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Filtrar</button>
    </form> 
</div>

<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for nucleo in nucleos %}
        <div class="col my-2">
            <div class="card p-1 {% if not nucleo.imagem %}card-sem-imagem{% endif %}" style="min-height: 480px !important;">
                {% if nucleo.imagem %}
                    <img src="{{ nucleo.imagem.url }}" class="card-img-top" alt="">
                {% else %}
                    <div class="card-img-top" style="height: 200px;"></div> 
                {% endif %}
                <div class="card-body row d-flex align-items-between">
                    <div>
                        <h4 class="card-title">{{ nucleo.nome }}</h4>
                    </div>

                    <div>
                        <ul>
                            {% if nucleo.email %}
                            <li>
                                <i class="fa-solid fa-envelope"></i> <span>{{ nucleo.email }}</span>
                            </li>
                            {% endif %}
                            
                            {% if nucleo.telefone %}
                            <li>
                                <i class="fa-solid fa-phone"></i> <span>{{ nucleo.telefone }}</span>
                            </li>
                            {% endif %}
                            
                            {% if nucleo.horario %}
                            <li>
                                <i class="fa-solid fa-clock"></i> <span>{{ nucleo.horario }}</span>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
